* {
  padding: 0;
  margin: 0;
}

body {
  background-color: lightskyblue;
}
/****************** NAVIGATION **********************/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightslategray;
}

.logo {
  padding: 1em;
  text-transform: uppercase;
}

.logo a {
  color: rgb(28, 24, 22);
}

ul {
  list-style: none;
  text-transform: uppercase;
  display: flex;
}
ul a {
  display: block;
  padding: 1em;
  color: white;
}
.logo a,
ul a {
  text-decoration: none;
  letter-spacing: 0.45em;
}

ul a:hover {
  background-color: lightgray;
}
/****************** HEAD **********************/

h1 {
  padding: 1em;
}

/****************** DOGS **********************/

.dogs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.dogs img {
  width: 200px;
  margin: 25px;
}

/****************** CATS **********************/

.cats {
  display: flex;
  flex-direction: column-reverse;
}

.cats img {
  width: 275px;
  height: 275px;
  margin: 25px;
  border-radius: 10px;
}

.othercats {
   display: flex;
   justify-content: space-around;
}
.scared-cat {
  align-self: center;

}

/****************** FOOTER **********************/

footer {
  position: absolute;
  bottom: 0;
  padding: 0 0 20px;
  width: 100%;
}
